#pauseAndMap {
    -fx-padding: 10px 21px 0 0;
}

#speedUp:disabled {
    -fx-opacity: 0.5;
    -fx-background-color: lightgray;
}

#speedDown:disabled {
    -fx-opacity: 0.5;
    -fx-background-color: lightgray;
}

.onPauseAppear {
    visibility: true;
    managed: true;
}

.onResumeDisappear {
    visibility: false;
    managed: false;
}

.trackBoarder {
    -fx-border-color: rgb(0, 0, 210);
    -fx-border-width: 2;
    -fx-border-style: SOLID;
}

.titleLabel {
    -fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}

.promptLabel {
    -fx-font-family: "Arial";
    -fx-font-size: 13;
    -fx-font-style: normal;
}

.highlightGenomeClicked {
    -fx-background-color: rgba(245, 204, 27, 0.63);
    -fx-border-color: lightblue;
    -fx-border-radius: 5px;
}

.buttonNotClicked {
}

.highlightPreferredClicked {
    -fx-background-color: rgba(20, 230, 0, 0.5);
    -fx-border-color: lightblue;
    -fx-border-radius: 5px;
}

.mapAnimalLabel {
    -fx-font-family: 'Arial';
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.mapGrassLabel {
    -fx-font-family: 'Arial';
    -fx-font-size: 16px;
}

.preferredMapLabel {
    -fx-background-color: rgba(20, 230, 0, 0.5);
}
